
/* ------------- */

* { padding: 0; margin: 0; }
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* ------------- */

:root { 

	--color-dark: #231f20;
	--color-grey: #525252;
	--color-brown: #987552; 
	
	--font-headings: 'Cambon', serif;
	--font-text: 'Sofia Pro', sans-serif;

}
	
/* ------------- */
	
body { font-family: var(--font-text); font-size: 18px; line-height: 1.33; background: #fff; color: #000; padding: 0 0 0 80px; height: auto !important; }

.wrapper { overflow: hidden; display: flex; flex-direction: column; min-height: 100vh; position: relative; background: #fff; z-index: 100; }
	
textarea, input[type="email"], input[type="text"], input[type="button"], input[type="submit"], button, select { appearance: none; border-radius: 0; }

a, button, a svg path { transition: all .4s; }
	
a,button,input,textarea,select { outline: none !important; text-decoration: none; }
	
h1,h2,h3,h4,h5,h6 { font-family: var(--font-headings); margin: 0; padding: 0; font-weight: bold; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: #000; }
	
.inner { margin: 0 auto; position: relative; padding: 0 20px; max-width: 1440px; width: 100%; }
	
img { max-width: 100%; height: auto; }

.buttons a, .button { display: flex; position: relative; overflow: hidden; border: 1px solid var(--color-brown); color: #000; text-transform: uppercase; font-size: 14px; font-weight: 500; cursor: pointer; text-align: center; padding: 0 30px; height: 45px; justify-content: center; align-items: center; cursor: pointer; background: transparent; text-decoration: none !important; }
.buttons p { margin: 0 !important; display: inline !important; }
/*.buttons a span { display: flex; padding: 0 30px; height: 45px; justify-content: center; align-items: center; transition: all 200ms; z-index: 10; position: relative; width: 100%; }
.buttons a span::before { content: "\2192"; position: absolute; top: 0; left: 0; right: 0; bottom: 0; transform: translateY(-100%); display: flex; justify-content: center; align-items: center; font-size: 20px; font-weight: 500; }
.buttons a::after { content: ''; display: block; position: absolute; top: -2px; left: -2px; right: -2px; bottom: -2px; transform: translateX(-100%); z-index: 5; background: #000; transition: all .4s; transition-delay: 200ms; }*/

.white.buttons a { border-color: #fff; color: #fff; }
.white.buttons a::after { background: #fff; }

.buttons { display: flex; gap: 24px; }

@media (hover) { 

	/*.buttons a:hover span { transform: translateY(100%); color: #fff; }
	.buttons a:hover::after { transform: none; }

	.white.buttons a:hover span { color: #000; }*/

	.buttons a:hover, .button:hover { background: var(--color-brown); color: #fff; }
	.white.buttons a:hover { color: #000; background: #fff; }

}

@media (max-width: 1024.5px) {

	body { padding: 0; }
	.buttons { flex-direction: column; gap: 12px; }

}

@media (max-width: 767.5px) {

	.buttons { margin: 0 auto; }

}

/* ------------- */

.header { position: fixed; top: 0; left: 0; height: 80px; width: 70vw; background: black; z-index: 1000; padding: 10px 80px; display: flex; align-items: center; }
.header .logo { display: flex; }
.header .logo img { height: 24px; width: auto; display: block; }
.header .logo img.mobile { display: none !important; }

.header .connect { height: 60px; position: absolute; top: 100%; left: 70px; right: 0; background: #000;  display: none; }
.header .connect ul { display: flex; list-style: none; align-items: center; justify-content: flex-end; width: 100%; height: 60px; }
.header .connect ul li { margin: 0 26px 0 0; }
.header .connect ul li a { display: flex; color: #fff; text-transform: uppercase; font-weight: 500; font-size: 12px; line-height: 20px; position: relative; }
.header .connect::before { content: ''; display: block; height: 1px; top: 0; left: 0; width: 0; opacity: 0; position: absolute; background: #fff; opacity: .21; transition: all .4s; transition-delay: .2s; }
.header .connect.open::before { width: calc(100% - 20px); opacity: .21; }

.header .open-connect { display: flex; border: 1px solid #444; width: 40px; height: 40px; align-items: center; justify-content: center; position: absolute; right: 20px; top: 20px; cursor: pointer; }
.header .open-connect svg { width: 15px; height: auto; transform: rotate(75deg); transition: all .4s; }
.header .open-connect svg path { fill: #fff; }

@media (min-width: 1025px) {

	.header nav { display: block !important; margin: 0 0 0 65px; }
	.header nav ul { display: flex; list-style: none; }
	.header nav ul li { margin: 0 26px 0 0; }
	.header nav ul li a { display: flex; color: #fff; text-transform: uppercase; font-weight: 500; font-size: 11px; line-height: 20px; position: relative; }
	.header nav ul li a::before { content: ''; display: block; width: 0; height: 1px; position: absolute; bottom: -4px; left: 0; background: #fff; opacity: .41; transition: all .4s; }
	.header nav ul li a.active::before { width: 25px; }

	.header .open-mobile-menu { display: none !important; }

}

@media (max-width: 1499px) {

	.header { width: auto; }

}

@media (max-width: 1099px) {

	.header nav { margin: 0 0 0 40px; }
	.header .logo img { height: 15px; }

}

@media (max-width: 1024.5px) {

	.header { width: auto; right: 0; padding: 10px 20px; }
	.header nav { background: #000; position: absolute; top: 100%; left: 0; right: 0; margin: 0; padding: 20px; display: none; }
	.header nav ul { display: flex; flex-direction: column; list-style: none; }
	.header nav ul li { margin: 0 0 10px 0; }
	.header nav ul li a { display: flex; color: #fff; text-transform: uppercase; font-weight: 500; font-size: 14px; line-height: 24px; position: relative; }

	.header .open-mobile-menu { display: flex; position: absolute; top: 20px; right: 80px; border: 1px solid #444; width: 40px; height: 40px; align-items: center; justify-content: center; cursor: pointer; }
	.header .open-mobile-menu span { position: absolute; height: 3px; width: 20px; top: 50%; margin: -1px 0 0 -10px; left: 50%; background: #fff; }
	.header .open-mobile-menu span::before { content: ''; position: absolute; height: 3px; width: 20px; top: -6px; left: 0; background: #fff; }
	.header .open-mobile-menu span::after { content: ''; position: absolute; height: 3px; width: 20px; bottom: -6px; left: 0; background: #fff; }

	.header .connect { left: 0; }
	.header .connect::before { left: 20px; }
	.header .connect.open::before { width: calc(100% - 40px); }

}

@media (max-width: 767.5px) {

	/*.header .logo img.desktop { display: none !important; }
	.header .logo img.mobile { display: block !important; height: 24px; }*/

	.header { height: 60px; padding: 10px; }
	.header .open-connect { top: 10px; right: 10px; }
	.header .open-mobile-menu { top: 10px; right: 60px; }
	.header .connect::before { left: 10px; }
	.header .connect.open::before { width: calc(100% - 20px); }

}

@media (hover) {

	.header nav ul li a:hover { color: rgba(255,255,255,.61); }
	.header .connect ul li a:hover { color: rgba(255,255,255,.61); }
	.header .open-connect:hover svg { opacity: .61; }
	
}

/* ------------- */

.hero { display: flex; position: relative; height: 100vh; overflow: hidden; margin: 0 0 0 -80px; }
.hero > img,
.hero > video,
.hero > .swiper { position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: 1; width: 100%; height: 100%; display: block; object-fit: cover; }
.hero > .swiper .swiper-slide { width: 100%; height: 100%; }
.hero > .swiper .swiper-slide img { width: 100%; height: 100%; object-fit: cover; display: block; position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: 1; }
.hero .inner { height: 100vh; display: flex; text-align: right; flex-direction: column; align-items: flex-end; justify-content: center; color: #fff; z-index: 10; padding-top: 10vh; max-width: 1208px; }
.hero .inner h1 { font-size: 62px; line-height: 59px; margin: 0 0 10px; }
.hero .inner p { font-size: 24px; line-height: 30px; }

.page-hero { display: flex; position: relative; overflow: hidden; }
.page-hero > img,
.page-hero > video { position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: 1; object-fit: cover; width: 100%; height: 100%; display: block; }
.page-hero .inner { padding: 250px 20px; display: flex; align-items: center; justify-content: space-between; color: #fff; z-index: 10; max-width: 1208px; }
.page-hero .inner h1 { font-size: 55px; line-height: 59px; font-family: var(--font-text); }
.page-hero .inner .breadcrumbs a { font-size: 12px; line-height: 20px; text-transform: uppercase; color: #fff; }
.page-hero .inner .breadcrumbs span { margin: 0 10px; }

@media (max-width: 1024.5px) {

	.hero { margin: 0; }

}

@media (max-width: 767.5px) {

	.hero .inner h1 { font-size: 30px; line-height: 33px; }
	.hero .inner p { font-size: 18px; line-height: 22px; }

	.page-hero .inner { flex-direction: column; text-align: center; }
	.page-hero .inner h1 { margin: 0 0 20px; }

}

/* ------------- */

.image-text { padding: 112px 0; width: 100%; }
.image-text .inner { display: grid; grid-template-columns: 1fr 1fr; }
.image-text .inner .image { padding: 0 50px; width: 100%; overflow: hidden; }
.image-text .inner .image img { display: block; width: 100%; height: auto; }
.image-text .inner .image .swiper { width: 100%; }
.image-text .inner .image .swiper .swiper-slide { width: 100%; }
.image-text .inner .image .swiper .swiper-slide img { width: 100%; height: auto; display: block; }
.image-text .inner .image .swiper .arrow { width: 40px; height: 40px; position: absolute; background: rgba(0,0,0,.5); display: flex; justify-content: center; align-items: center; top: 50%; margin: -20px 0 0 0; z-index: 33; cursor: pointer; }
.image-text .inner .image .swiper .arrow svg path { fill: #fff; }
.image-text .inner .image .swiper .arrow.prev { left: 10px; transform: rotate(90deg); }
.image-text .inner .image .swiper .arrow.next { right: 10px; transform: rotate(-90deg); }
.image-text .inner .text { padding: 0 50px 33px; display: flex; flex-direction: column; align-items: flex-start; justify-content: center; }
.image-text .inner .text .text-inner { max-width: 475px; }
.image-text .inner .text h2 { font-size: 30px; line-height: 36px; margin: 0 0 20px; }
.image-text .inner .text p { font-size: 18px; line-height: 28px; color: var(--color-grey); margin: 0 0 28px; }
.image-text .inner .text ul { margin: 0 0 28px 28px; list-style: none; }
.image-text .inner .text ul li { position: relative; color: var(--color-grey); }
.image-text .inner .text ul li::before { content: ''; display: block; width: 11px; height: 2px; background: var(--color-dark); position: absolute; top: 12px; left: -22px; }
.image-text .inner .text .buttons { margin: 32px 0 0 0; }

.image-text .inner .image a.play { position: relative; display: block; }
.image-text .inner .image a.play::before { content: ''; display: block; width: 51px; height: 51px; background: transparent url('../img/ico/play.webp') no-repeat center center; position: absolute; top: 20px; left: 20px; z-index: 10; }

.image-text.narrow .inner { grid-template-columns: 1.3333fr 2fr; }
.image-text.narrow.reversed .inner { grid-template-columns: 2fr 1.3333fr; }

.image-text.reversed .image { grid-column: 2; grid-row: 1; }
.image-text.reversed .text { grid-column: 1; grid-row: 1; align-items: flex-end; text-align: right; }
.image-text.reversed .text .text-inner { justify-content: flex-end; }
.image-text.reversed .text .buttons { justify-content: flex-end; }

.image-text-overlay { position: relative; overflow: hidden; min-height: 618px; display: flex; }
.image-text-overlay .image { position: absolute; top: -100%; left: 0; right: 0; bottom: 0; z-index: 5; }
.image-text-overlay .image img { width: 100%; height: 100%; display: block; object-fit: cover; }
.image-text-overlay .image picture { width: 100%; height: 100%; display: block; object-fit: cover; }
.image-text-overlay .image video { width: 100%; height: 100%; display: block; object-fit: cover; }
.image-text-overlay .text { z-index: 10; width: calc(50% + 50px); background: rgba(70,44,34,.87); color: #fff; position: relative; text-align: right; display: flex; flex-direction: column; justify-content: center; align-items: flex-end; padding: 0 100px 0 20px; }
.image-text-overlay .text .text-inner { max-width: 360px; margin: 0 0 0 auto; display: flex; flex-direction: column; justify-content: center; align-items: flex-end; }
.image-text-overlay .text h2 { font-size: 30px; line-height: 36px;  margin: 0 0 20px; }
.image-text-overlay .text p { font-size: 18px; line-height: 28px; color: #fff; margin: 0 0 60px; }

.text-slider-overlay { position: relative; overflow: hidden; }
.text-slider-overlay .text { display: flex; flex-direction: column; align-items: flex-end; justify-content: center; padding: 0 50px; }
.text-slider-overlay .text h2 { font-size: 48px; line-height: 48px; text-align: right; margin: 0 0 20px; }
.text-slider-overlay .text .arrows { display: flex; }
.text-slider-overlay .text .arrows .arrow { width: 25px; height: 40px; display: flex; align-items: center; justify-content: center; cursor: pointer; }
.text-slider-overlay .text .arrows .arrow svg path { fill: #fff; }
.text-slider-overlay .text .arrows .arrow.prev { transform: rotate(90deg); }
.text-slider-overlay .text .arrows .arrow.next { transform: rotate(-90deg); }
.text-slider-overlay .image { position: absolute; top: -100%; left: 0; right: 0; bottom: 0; z-index: 5; }
.text-slider-overlay .image img { width: 100%; height: 100%; display: block; object-fit: cover; }
.text-slider-overlay .overlay { background: rgba(141,103,64,.68); color: #fff; position: relative; z-index: 10; }
.text-slider-overlay .overlay .inner { display: grid; grid-template-columns: 1fr 1fr; }
.text-slider-overlay .overlay .slider { width: 100%; overflow: hidden; }
.text-slider-overlay .overlay .swiper { width: 100%; }
.text-slider-overlay .overlay .swiper-slide { display: flex; flex-direction: column; align-items: flex-start; padding: 140px 50px 100px; }
.text-slider-overlay .overlay .swiper-slide h3 { font-size: 30px; line-height: 36px; }
.text-slider-overlay .overlay .swiper-slide p { font-size: 18px; line-height: 24px; margin: 0 0 20px; }
.text-slider-overlay .overlay .swiper-slide .buttons { margin: 40px 0 0 0; }

.wide-swiper-wrapper { background: linear-gradient(0deg, rgba(229,229,229,1) 0%, rgba(255,255,255,1) 100%); padding: 0 18px 35px; position: relative; margin: 0 0 65px; }
.wide.swiper { width: 100%; overflow: visible; }
.wide.swiper .swiper-slide { width: auto; max-width: 100%; }
.wide.swiper .swiper-slide img { display: block; }
.wide.swiper .swiper-slide a { display: block; position: relative; }
.wide.swiper .swiper-slide a::after { content: ''; display: block; position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: 20; transition: all .4s; opacity: 0; background: rgba(0,0,0,.21); }

.wide-swiper-wrapper .swiper-horizontal > .swiper-scrollbar, 
.wide-swiper-wrapper .swiper-scrollbar.swiper-scrollbar-horizontal { bottom: 12px; left: 18px; right: 18px; width: auto; height: 12px; cursor: pointer; border-radius: 0; background: transparent url("../img/bg/lines.webp") repeat-x center center; }
.wide-swiper-wrapper .swiper-scrollbar-drag { background: #462c22; border-radius: 0; }

.wide-swiper-wrapper .filter { position: absolute; right: 0; bottom: 35px; height: 50px; background: #462c22; padding: 10px 20px; display: flex; align-items: center; color: #fff; z-index: 33; font-size: 12px; font-weight: 400; }
.wide-swiper-wrapper .filter .filter-open { color: #fff; display: flex; padding: 0 10px; border: 1px solid rgba(255,255,255,.21); height: 25px; align-items: center; }
.wide-swiper-wrapper .slide-count { display: flex; position: relative; margin: 0 0 0 100px; }
.wide-swiper-wrapper .slide-count::before { content: ''; display: block; width: 30px; height: 1px; background: #fff; opacity: .41; position: absolute; top: 50%; right: 100%; margin: 0 20px 0 0; }

@media (hover) {

	.wide.swiper .swiper-slide a:hover::after { opacity: 1; }

}

@media (max-width: 1024.5px) {

	.image-text { padding: 20px 0; }
	.image-text .inner .image { padding: 0; }
	.image-text .inner .text { padding: 0 10px 0 30px; }
	.image-text.reversed .inner .text { padding: 0 30px 0 10px; }

}

@media (max-width: 767.5px) {

	.image-text .inner,
	.image-text.reversed .inner,
	.image-text.narrow .inner,
	.image-text.narrow.reversed .inner { grid-template-columns: 1fr; }
	.image-text .inner .text { padding: 30px 0; text-align: center; align-items: center; }
	
	.image-text.reversed .inner .image { grid-column: 1; grid-row: 1; }
	.image-text.reversed .inner .text { grid-column: 1; grid-row: 2; text-align: center; padding: 30px 0; }

	.image-text-overlay { min-height: 100vh; flex-direction: column; }
	.image-text-overlay .text { width: 100%; padding: 30px 0; text-align: center; align-items: center; }
	.image-text-overlay .text .text-inner { margin: 0; }

	.text-slider-overlay .overlay .inner { grid-template-columns: 1fr; }
	.text-slider-overlay .overlay .inner .text { padding: 30px 0 0; text-align: center; align-items: center; }
	.text-slider-overlay .overlay .inner .text h2 { text-align: center; }

	.text-slider-overlay .overlay .swiper-slide { align-items: center; padding: 30px 20px; text-align: center; }

}

/* ------------- */

.contact .inner { max-width: 800px; }
.contact .inner .text { padding: 100px 0; }
.contact .inner .text h2 { margin: 0 0 30px; }

.contact-details { display: flex; gap: 50px; margin: 0 0 100px; }
.contact-details h4 { font-family: var(--font-text); margin: 0 0 12px; }
.contact-details a { color: var(--color-dark); text-decoration: underline; }

.form { margin: 0 0 100px; }
.form p { margin: 0 0 20px; }
.form input { display: flex; height: 48px; border: 1px solid var(--color-brown); padding: 0 10px; background: #fff; align-items: center; width: 100%; }
.form textarea { display: flex; height: 148px; border: 1px solid var(--color-brown); padding: 10px; background: #fff; align-items: center; resize: vertical; width: 100%; }

#map-canvas { height: 400px; width: 100%; position: relative; }
#map-canvas iframe { display: block; width: 100% !important; height: 400px !important; }

@media (max-width: 767.5px) {

	.contact-details { flex-direction: column; gap: 30px; }

}

.text-block { padding: 50px 0; }
.text-block.with-prev { padding-top: 0; margin-top: -25px; }
.text-block.with-next { padding-bottom: 0; }

.text-block .inner { max-width: 800px; }
.wide.text-block .inner { max-width: 1440px; }
.wide.text-block .text { max-width: 800px; }

.text-block h2 { margin: 0 0 30px; }
.text-block h3 { margin: 0 0 20px; font-family: var(--font-text); }
.text-block p { margin: 0 0 28px; color: var(--color-grey); }
.text-block ul { margin: 0 0 28px 28px; list-style: none; }
.text-block ul li { position: relative; color: var(--color-grey); }
.text-block ul li::before { content: ''; display: block; width: 11px; height: 2px; background: var(--color-dark); position: absolute; top: 12px; left: -22px; }
.text-block .buttons { margin: 0 0 28px; }
.text-block blockquote { font-family: var(--font-headings); padding: 0 50px; }

.text-block a { color: var(--color-brown); text-decoration: underline; }

.text-block.two-cols .inner { display: grid; grid-template-columns: 1fr 1fr; gap: 50px; }

.text-block img.fullwidth { width: 100%; display: block; height: auto; }

.text-block .video iframe { width: 100% !important; aspect-ratio: 16 / 9 !important; height: auto !important; display: block; }

.image-grid { margin: 0 0 100px; }
.image-grid .inner { display: grid; grid-template-columns: 1fr 1fr; gap: 20px; max-width: 1244px; }
.image-grid .inner a { display: block; overflow: hidden; position: relative; }
.image-grid .inner a span { display: flex; position: absolute; top: 0; left: 0; right: 0; bottom: 0; text-align: center; align-items: flex-end; justify-content: center; color: #fff; padding: 30px; text-transform: uppercase; }
.image-grid .inner a img { display: block; transition: all .8s; } 
.image-grid .inner a::after { content: ''; display: block; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0,0,0,.5); transition: all .8s; opacity: 0; z-index: 10; }

.carousel .swiper { width: 100%; }
.carousel .swiper .swiper-slide { width: 100%; }
.carousel .swiper .swiper-slide img { width: 100%; height: auto; display: block; }
.carousel .swiper .arrow { width: 40px; height: 40px; position: absolute; background: rgba(0,0,0,.5); display: flex; justify-content: center; align-items: center; top: 50%; margin: -20px 0 0 0; z-index: 33; cursor: pointer; }
.carousel .swiper .arrow svg path { fill: #fff; }
.carousel .swiper .arrow.prev { left: 10px; transform: rotate(90deg); }
.carousel .swiper .arrow.next { right: 10px; transform: rotate(-90deg); }

@media (hover) {

	.image-grid .inner a:hover img { transform: scale(1.05); }
	.image-grid .inner a:hover::after { opacity: 1; }

}

@media (max-width: 767.5px) {

	.image-grid .inner { grid-template-columns: 1fr; }

	.text-block.two-cols .inner { display: grid; grid-template-columns: 1fr; gap: 30px; }

}

/* ------------- */

aside { position: fixed; top: 0; left: 0; bottom: 0; width: 80px; background: black; z-index: 999; }
aside .current { position: absolute; top: 0; right: 0; height: 80px; transform-origin: right bottom; transform: rotate(-90deg); display: flex; color: #fff; align-items: center; justify-content: center; font-size: 11px; font-weight: 500; width: 200px; text-transform: uppercase; }
aside::before { content: ''; display: block; height: 1px; left: 10px; right: 10px; top: 80px; position: absolute; background: #fff; opacity: .21; }
aside::after { content: ''; display: block; height: 1px; left: 10px; right: 10px; top: 280px; position: absolute; background: #fff; opacity: .21; }
aside .social { position: absolute; left: 0; right: 0; bottom: 0; width: 80px; display: flex; flex-direction: column; align-items: center; padding: 15px 0; }
aside .social::before { content: ''; display: block; height: 1px; left: 10px; right: 10px; top: 0; position: absolute; background: #fff; opacity: .21; }
aside .social a { width: 40px; height: 40px; display: flex; align-items: center; justify-content: center; }
aside .social a svg { display: block; height: 15px; }
aside .social a svg path { fill: #fff; }

@media (max-width: 1024.5px) {

	aside { display: none !important; }

}

@media (hover) {

	aside .social a:hover { opacity: .61; }

}

/* ------------- */

.footer { position: fixed; bottom: 0; left: 0; right: 0; background: var(--color-dark); z-index: 99; color: #fff; padding: 0 0 0 80px; overflow: hidden; }
.footer .inner { display: grid; max-width: 1440px; grid-template-columns: 1.1fr 1fr; }
.footer .logo { height: 24px; display: flex; }
.footer .logo img { height: 24px; }
.footer .image { display: flex; align-items: flex-start; padding: 64px 0 0 0; }
.footer .text { padding: 64px 0 0 0; display: grid; grid-template-columns: 1.65fr 1fr; }
.footer h6 { position: relative; font-family: var(--font-text); font-weight: 500; text-transform: uppercase; font-size: 16px; line-height: 22px; margin: 0 0 10px; }
.footer ul { position: relative; font-family: var(--font-text); font-weight: 500; font-size: 14px; line-height: 24px; display: flex; flex-direction: column; list-style: none; margin: 0 0 24px; }
.footer ul li a { color: #fff; }
.footer p { position: relative; font-family: var(--font-text); font-weight: 500; font-size: 14px; line-height: 24px; margin: 0 0 24px; }
.footer p span { margin: 0 7px; }
.footer p a { color: #fff; }
.footer .line { border-top: 1px solid #fff; padding: 24px 0; margin: 0 150px 0 0; }
.footer .line p { margin: 0; }
.footer .line.with-social { display: flex; width: 100%; margin: 0; gap: 20px; }
.footer .social { margin: 0 0 0 auto; display: flex; gap: 10px; }
.footer .social svg { display: block; width: 20px; }
/*.footer .totop { width: 100%; display: flex; justify-content: flex-end; position: relative; padding: 0 50px 0 0; }
.footer .totop::before { content: ''; display: block; background: #fff; position: absolute; left: -50px; right: 0; top: 0; height: 1px; }
.footer .totop a { display: flex; text-transform: uppercase; font-size: 14px; line-height: 22px; color: #fff; font-weight: 500; position: relative; padding: 10px 0 0 0; }
.footer .totop a::before { content: ''; display: block; background: #fff; width: 7px; height: 7px; border-radius: 7px; transition: all .4s; position: absolute; top: -3px; left: 50%; margin: 0 0 0 -3.5px; }*/

.footer ul.terms-and-policies { display: flex; flex-direction: row; }
.footer ul.terms-and-policies li::before { content: '|'; margin: 0 7px; }
.footer ul.terms-and-policies li:first-child::before { display: none; }

@media (hover) {

	.footer a:hover { opacity: .61; }
	.footer .totop a:hover::before { left: 200%; }

}

@media (max-width: 1299.5px) {

	.footer .inner { column-gap: 50px; grid-template-columns: 1fr 1fr; }
	.footer .line { margin: 0; width: 100%; }

}

@media (max-width: 1023.5px) {

	.footer { padding: 0; }
	.footer .logo { max-width: 300px; width: 100%; }

}

@media (max-width: 899.5px) {

	.footer .inner { grid-template-columns: 1fr; }
	.footer .logo { display: flex; justify-content: center; }
	.footer .image { justify-content: center; }
	.footer .text { grid-template-columns: 1fr; justify-content: center; }
	.footer .text .col { text-align: center; }
	.footer .line { text-align: center; }
	.footer .line.with-social { flex-direction: column; }
	.footer .line .social { margin: 24px auto 0; }
	.footer ul.terms-and-policies { justify-content: center; }

}

@media (max-width: 414.5px) {

	.footer ul.terms-and-policies { flex-direction: column; align-items: center; }
	.footer ul.terms-and-policies li::before { display: none; }

}

.video-overlay { position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 9999; background: rgba(0,0,0,.9); display: flex; justify-content: center; align-items: center; padding: 10vh 10vw; opacity: 0; pointer-events: none; transition: all .4s; }
.video-wrap { width: 100%; aspect-ratio: 16 / 9; position: relative; }
.video-wrap a.video-close { width: 40px; height: 40px; display: block; position: absolute; top: -60px; right: 0; cursor: pointer; }
.video-wrap a.video-close svg { display: block; width: 40px; height: 40px; transform: rotate(45deg); }
.video-overlay .video iframe { width: 100%; aspect-ratio: 16 / 9; display: block; }

.playing .video-overlay { opacity: 1; pointer-events: all; }

@media (hover) {

	.video-close:hover { opacity: .61; }

}

.tab-carousel .swiper-slide { display: flex; height: auto; }
.tab-carousel .swiper-slide.reversed { flex-direction: row-reverse; }
.tab-carousel .swiper-slide .img { width: 50%; height: auto; aspect-ratio: 793 / 618; overflow: hidden; position: relative; flex-shrink: 0; display: flex; align-items: center; justify-content: center; }
.tab-carousel .swiper-slide .img img { position: absolute; top: 0; left: 0; right: 0; bottom: 0; width: 100%; height: 100%; object-fit: cover; z-index: 1; }
.tab-carousel .swiper-slide .img p { color: #fff; font-size: 30px; text-align: center; z-index: 20; line-height: 1; padding: 120px; max-width: 1024px; }
.tab-carousel .swiper-slide .txt { width: 50%; display: flex; flex-direction: column; flex-shrink: 0; background: linear-gradient(135deg, rgba(101,73,45,1) 0%, rgba(141,103,64,1) 100%); justify-content: center; align-items: flex-start; }
.tab-carousel .swiper-slide .txt .txt-inner { max-width: 1024px; display: flex; flex-direction: column; padding: 40px 45px 40px 96px; justify-content: center; align-items: flex-start; margin: 0 auto 0 0; width: 100%; }
.tab-carousel .swiper-slide .txt h2 { color: #fff; font-size: 48px; line-height: 52px; max-width: 350px; margin: 0 0 65px; position: relative; }
.tab-carousel .swiper-slide .txt h2::before { content: ''; display: block; width: 114px; height: 6px; background: #fff; position: absolute; bottom: -35px; left: 0; }
.tab-carousel .swiper-slide .txt ul { list-style: none; column-count: 2; gap: 30px; padding: 0; width: 100%; }
.tab-carousel .swiper-slide .txt li { font-size: 20px; line-height: 32px; color: #fff; position: relative; padding: 0 0 0 24px; break-inside: avoid; }
.tab-carousel .swiper-slide .txt li::before { content: ''; display: block; position: absolute; top: 15px; left: 0; height: 2px; width: 11px; background: #fff; }
.tab-carousel .swiper-slide .txt p { font-size: 20px; line-height: 32px; color: #fff; max-width: 565px; }

.tab-carousel .swiper-slide .img::before { content: ''; display: block; position: absolute; inset: 0 0 0 0; z-index: 10; background: rgba(0,0,0,.25); }

.tab-carousel .swiper-slide.reversed .txt .txt-inner { padding: 0 45px 0 112px; }
.tab-carousel .swiper-slide.reversed .txt p { max-width: 520px; }

.tab-carousel-nav { position: relative; z-index: 33; }
.tabs-for-tab-carousel { display: flex; height: 80px; gap: 0; width: 100%; justify-content: stretch; position: relative; z-index: 33; bottom: auto !important; left: auto !important; right: auto !important; }
.tabs-for-tab-carousel .swiper-pagination-bullet { border: 0; border-radius: 0; display: flex; width: 100%; height: auto; justify-content: center; align-items: center; font-size: 30px; font-weight: bold; color: var(--color-dark); background: #fff; opacity: 1; margin: 0 !important; font-family: var(--font-headings); position: relative; }
.tabs-for-tab-carousel .swiper-pagination-bullet::before { content: ''; display: block; background: #fff; height: 10px; position: absolute; left: 0; right: 0; bottom: 100%; opacity: 0; transition: all .4s; }
.tabs-for-tab-carousel .swiper-pagination-bullet.swiper-pagination-bullet-active::before { opacity: .8; }
.tab-carousel-nav .prev { display: flex; width: 80px; height: 80px; position: absolute; left: 0; bottom: 0; z-index: 50; justify-content: center; align-items: center; cursor: pointer; }
.tab-carousel-nav .prev svg { transform: rotate(90deg); }
.tab-carousel-nav .next { display: flex; width: 80px; height: 80px; position: absolute; right: 0; bottom: 0; z-index: 50; justify-content: center; align-items: center; cursor: pointer; }
.tab-carousel-nav .next svg { transform: rotate(-90deg); }

.tab-carousel .swiper-slide .txt.tab-bg-2 { background: linear-gradient(135deg, rgba(94,64,44,1) 0%, rgba(55,34,25,1) 100%); }

@media (min-width: 1800px) {

	.tab-carousel .swiper-slide .txt .txt-inner { margin: 0 auto; padding: 45px !important; }

}

@media (max-width: 1719px) {

	.tab-carousel .swiper-slide.with-lot-of-text .txt .txt-inner { padding: 40px; }
	.tab-carousel .swiper-slide.with-lot-of-text .txt h2 { font-size: 38px; line-height: 42px; }
	.tab-carousel .swiper-slide.with-lot-of-text .txt li { font-size: 18px; line-height: 28px; }
	.tab-carousel .swiper-slide.with-lot-of-text .txt li::before { top: 13px; }

}

@media (max-width: 1299px) {

	.tab-carousel .swiper-slide .txt .txt-inner { padding: 40px !important; }
	.tab-carousel .swiper-slide .txt h2 { font-size: 36px; line-height: 40px; margin: 0 0 40px; }
	.tab-carousel .swiper-slide .txt h2::before { bottom: -25px; }
	.tab-carousel .swiper-slide .txt li,
	.tab-carousel .swiper-slide .txt p { font-size: 18px; line-height: 28px; }
	.tab-carousel .swiper-slide .img p { padding: 60px; }

	.tab-carousel .swiper-slide.with-lot-of-text .txt ul { column-count: 1; }

}

@media (max-width: 1023.5px) {

	.tab-carousel .swiper-slide { flex-direction: column-reverse !important; justify-content: flex-end; height: auto; }
	.tab-carousel .swiper-slide .txt .txt-inner { padding: 30px 30px 80px !important; }
	.tab-carousel .swiper-slide .txt { width: 100% !important; height: 100%; flex-shrink: initial; }
	.tab-carousel .swiper-slide .img { width: 100% !important; }
	.tab-carousel-nav { height: 80px; margin: -80px 0 0 0; }
	.tab-carousel-nav svg path { fill: #fff; }
	.tab-carousel-nav .dots { display: none !important; }

	.tab-carousel .swiper-slide.with-lot-of-text .txt ul { column-count: 2; }

}

@media (max-width: 767.5px) {

	.tab-carousel .swiper-slide .img p { font-size: 25px; }
	.tab-carousel .swiper-slide .txt ul { column-count: 1; }
	.tab-carousel .swiper-slide.with-lot-of-text .txt ul { column-count: 1; }

}

/**/

.cookie { border: 1px solid #ccc; padding: 30px; margin: 0 0 30px; }
.cookie p { font-size: .9em; color: #666; margin: 0; }